{% extends 'base.html' %}


{% block meta %}
<meta name="description"
    content="Служение обществу через подготовку конкурентоспособных специалистов здравоохранения на основе интеграции передовых образовательных, научных и медицинских технологий.">
<meta name="keywords"
    content="медицинские инструменты, энциклопедия медицинских приборов, оборудование для медицины, справочник медицинских инструментов, хирургические инструменты, диагностическое оборудование, медицинские технологии, медицинское оборудование, информация о медицинских приборах, медицинская техника, описание медицинских инструментов, руководство по медицинским устройствам, справочник врачей, оборудование для больниц, медицинские аксессуары, медицинская энциклопедия, приборы для диагностики, оборудование для лечения, инструменты для хирургии, медицинская информация">

<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="canonical" href="https://petproject.kz">
<meta name="application-name" content="petproject.kz">
<meta name="author" content="Yernar and Yedige">
{% endblock meta %}

{% block css %}
{% endblock css %}

{% block title %}
<title>Главная страница | Project</title>
{% endblock title %}

{% block content %}
{% endblock content %}

{% block js %}
{% endblock js %}