{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="description" content="">
<meta name="keywords" content="">

<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="canonical" href="https://petproject.kz">
<meta name="application-name" content="gulzada.petproject.kz">
<meta name="author" content="Gulzada and Yedige">
{% endblock meta %}

{% block css %}
{% endblock css %}

{% block title %}
<title>{{song.name}} | Project</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <img src="{{ song.cover.url }}" alt="" class="img-fluid w-50">
            <h1>{{song.name}}</h1>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <h1>Текст песни</h1>
            {{song.lyrics|safe}}
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Испольнитель: {% for artist in song.artist.all %} <a href="{% url 'artists_detail_page' slug=artist.slug %}">{{artist.nickname}}</a> {% if not forloop.last %}, {% endif %}{% endfor %}</li>
                <li class="list-group-item">Альбом: {{song.album.name}}</li>
                <li class="list-group-item">Дата выпуска: {{song.released}}</li>
                <li class="list-group-item">Жанры: {{song.genre}} </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}